.foot {
  text-align: center;
  display: inline-block;
  margin-left: 41.5%;
}

.foot1 {
  text-align: center;
  display: inline-block;
  margin-left: 42.5%;
}
.foot2 {
  display: block;
  margin-left: 46.8%;
}
.foot3 {
  display: block;
  margin-left: 46.2%;
}
